/* CSS by Adrianna Chamberlain */
/* Color Palette:
   Primary: #59394E (Dark Purple)
   Secondary: #F2F2F2 (Light Gray)
   Accent: #56588C(Medium Purple)
   Background: #656B8C (Light Purple)
   Text: #0D0E26 (Dark Blue) */

   /* GLOBAL (base) MOBILE FIRST */
   
   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
   }

   body {
    background-color: #656B8C;
    color: #0D0E26;
    font-family: shelby, sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    max-height: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
   }

   img {
      max-width: 100%;
   }

   header {
      background-color:#59394E;
      color: #F2F2F2;
      text-align: center;
      padding: 2rem;
   }

   nav {
      background-color: #56588C;
   }

   nav ul {
      list-style: none;
      display: flex;
      flex-direction: column;
   }

   nav li {
      text-align:center;
   }

   nav a {
      display: block;
      padding: 1rem;
      color: #F2F2F2;
      text-decoration: none;
      font-weight: bold;
   }

   nav a:hover {
      background-color: #59394E;
   }

   /*=== Main content ===*/
   main {
      display: block;
      padding: 2rem;
      flex: 1;
   }

   section {
      background-color: #F2F2F2;
      padding: 1.5rem;
      border-radius: 10px;
      margin-bottom: 1.5rem;
   }

   h2 {
      margin-bottom: .75rem;
   }

   h2 a {
      color: #59394E;
      text-decoration: none;
   }

   h2 a:hover {
      color: #56588C;
      text-decoration: underline;
   }

   /* === cards === */ 
   .card-row {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
   }

   .card {
      background-color: #F2F2F2;
      padding: 1.5rem;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      transition: transform 0.2s ease, box-shadow 0.2s ease;
   }

   .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 18px rgba(0, 0, 0, 0.3);
   }

   .card h3 {
      margin-bottom: 0.75rem;
   }

   .card a {
      color: #59394E;
      text-decoration: none;
   }

   .card a:hover {
      text-decoration: underline;
   }

   /*=== Footer ===*/
   footer {
      background-color: #59394E;
      color: #F2F2F2;
      text-align: center;
      padding: 1rem;
   }

   /* === Media Query === */
   @media (min-width: 768px) {
      nav ul {
         flex-direction: row;
         justify-content: center;
      }

      nav li {
         margin: 0 1rem;
      }

      .card-row {
         grid-template-columns: repeat(3, 1fr);
      }
   }